@import '@code-hike/mdx/styles';

.cratosw-obsidian-mdx {
  max-width: var(--file-line-width);
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.cratosw-obsidian-mdx code {
  font-family: var(--font-monospace);
}
